<div>
  <h1>2 Way Data Binding</h1>
  <div>
    <p>What's your name?</p>
    <input [(ngModel)]="myName"/>
    <p>Why, hello there {{myName}}{{myName !== '' ? '!' : ''}}</p>
    <input #view>
    <button (click)="showView()">Show view child</button>
  </div>

  <div>
    <h2>To Do List</h2>
    <!--    <app-to-do-list [(toDoItems)]="toDoList" (toDoItemsChange)="totalItems = toDoList.length"></app-to-do-list>-->
    <app-to-do-list [(toDoItems)]="toDoList"></app-to-do-list>

    <!--    <p>Total items in list: {{totalItems}}</p>-->
    <p>Total items in list: {{toDoList.length}}</p>
  </div>
</div>

<div>
  <h1>Directives</h1>

  <p>Using multiple directives</p>
  <ng-template ngFor [ngForOf]="[1, 2, 3, 4, 5, 6]" let-item>
    <div *ngIf="item > 3">{{item}}</div>
  </ng-template>
</div>

<div>
  <h1>Badness</h1>

  <p>Text from method: {{method()}}</p>
</div>

<div>
  <h1>Pipes</h1>

  <p>{{'this is all lowercase in the html' | uppercase}}</p>
  <p>{{100 | currency:"ZAR":"symbol":"1.2"}}</p>
  <p>{{customPipeText | kebabCase}}</p>
  <p>{{true | booleanYesNo}}</p>
</div>
